.brand-logo {
    margin-left: 2%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.parallax-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://ocpl.org/sites/ocpl/files/styles/hero_tall_1x/public/2020-07/shutterstock_1078848653.jpg?h=7eb92231&itok=KISfpab3);
    min-height: 380px;
    line-height: 0;
    height: auto;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width: 600px) {
    .brand-logo {
        margin-top: 3%;
    }
    #index-banner .section {
    top: 0;
  }
}
