{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">

            <!--Recipe Name-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="100"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!--Recipe Description-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_description" name="recipe_description" minlength="5"
                        type="text" class="validate" required>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!--Recipe Ingredients List-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate" required>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!--Recipe measurements-->
            <div class="row">
                <div class="input-field col s12">
                    <input id="measurements" name="measurements" type="text" class="validate" required>
                    <label for="measurements">Measurements</label>
                </div>
            </div>
            <!--Instructions-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="instructions" id="instructions" cols="30" rows="30" class="validate"></textarea>
                    <label for="instructions">Cooking Instructions</label>
                </div>
            </div>
            <!--Submit Button-->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large green lighten-1 text-shadow">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}